.AccountAndBilling{}
    
.AccountContainer{}
.AccountTitle{}
.AccountData{}
.AccountTitle{}
.AccountID{}
.AccountEmail{}
.AccountAge{}

.BillingContainer{}
.BillingTitle{}
.BillingData{}
.BillingPeriod{}
.BillingLastBilled{}
.BillingComingBill{}
.BillingDiscrepencies{}

@media (max-width: 756px){
    .AccountAndBilling{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

    }

    .AccountContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 50vh;
        width: 100%;

    }
    .AccountTitle{
        background-color: red;
        color: white;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .AccountData{
        display: flex;
        height: 20vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .AccountDataTitle{
        background-color: red;
        color: white;
        padding: 10px;
    }
    .AccountID{
        padding: 5px;
    }
    .AccountEmail{
        padding: 5px;
    }
    .AccountAge{
        padding: 5px;
    }

    .BillingContainer{
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .BillingTitle{
        background-color: red;
        color: white;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .BillingData{
        text-align: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .BillingPeriod{
    }
    .BillingLastBilled{}
    .BillingComingBill{
        width: 100%;
    }
    .BillingDiscrepenciesCount{
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid;
    }
    .BillingDiscrepenciesDateList{
        overflow-y: scroll;
        min-height: 10vh;
        max-height: 25vh;
        width: 90%;
        margin: auto;
        border: 1px solid;
        background-color: white;
    }
    .BillingDiscrepencies{
        border-bottom: 1px solid;
        width: 75%;
        text-align: end;
        padding: 5px;
    }
    .BillingDiscrepencies:nth-child(even){
    }
    .BillingDiscrepencies:last-child{
        border-bottom: none;
    }
}
@media (min-width: 757px){
    .AccountAndBilling{
        display: flex;
        flex-direction: column;
        width: 90%;
        min-height: 80vh;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        justify-content: space-evenly;
    }
    
    .AccountContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        box-shadow: 10px 10px 8px #dad8d8;
    }
    .AccountTitle{
        background-color: red;
        color: white;
        padding: 5px;
        border-bottom: 1px solid;
    }
    .AccountData{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .AccountDataTitle{
        border-bottom: 1px solid;
        width: 100%;
    }
    .AccountData p{
        padding: 5px;
    }
    .AccountID{
        border-top: 1px;
        border-bottom-right-radius: 90%;
    }
    .AccountEmail{
    }
    .AccountAge{
        border-bottom-right-radius: 90%;
    }

    .BillingContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        box-shadow: 10px 10px 8px #dad8d8;
    }
    .BillingTitle{
        background-color: red;
        color: white;
        padding: 5px;
        border-bottom: 1px solid;
    }
    .BillingData{
        padding: 10px;
    }
    .BillingData p {
        padding: 5px;
    }
    .BillingPeriod{
        border-bottom-right-radius: 90%;
    }
    .BillingLastBilled{}
    .BillingComingBill{
        border-bottom-right-radius: 90%;
    }
    .BillingDiscrepenciesCount{
        font-weight: bolder;
    }
    .BillingDiscrepenciesDateList{
        overflow-y: scroll;
        padding: 10px;
        border: 1px solid;
        width: 50%;
        max-height: 25vh;
        min-height: 10vh;
    }
    .BillingDiscrepencies{
        list-style: none;
        border-bottom: 1px solid;
        width: 50%;
        text-align: end
    }
    .BillingDiscrepencies:nth-child(even){
    }
    .BillingDiscrepencies:last-child{
        border-bottom: none;
    }
}