.AccountAndBilling{}
    
.AccountContainer{}
.AccountTitle{}
.AccountData{}
.AccountTitle{}
.AccountID{}
.AccountEmail{}
.AccountAge{}

.BillingContainer{}
.BillingTitle{}
.BillingData{}
.BillingPeriod{}
.BillingLastBilled{}
.BillingComingBill{}
.BillingDiscrepencies{}

@media (max-width: 756px){

}
@media (min-width: 757px){
    .AccountAndBilling{}
    .AccountContainer{}
    .AccountTitle{
        background-color: red;
        color: white;
        text-align: center;
    }
    .AccountDivisionContainer{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .AccountDivisionTitle{
        width: 100%;
        padding: 5px;
    }
    .AccountDivisionItem{
        border-bottom: 1px solid;
        width: 30%;
        padding: 5px;
        text-align: end;
    }
    .AccountDivisionList{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        list-style: none;
        width: 90%;
        align-content: center;
        justify-content: space-evenly;
        max-height: 40vh;
        padding: 10px;
        overflow-y: scroll;
    }
    .AccountDivisionListItemContainer{
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        margin: auto;
    }
    .AccountDivisionListItem{
        border-bottom: 1px solid black;
        min-width: 20%;
        max-width: 60%;
        text-align: center;
    }
    .AccountDivisionDivision{
        padding: 5px;
    }
    .AccountDivisionDivisionItem{
        padding: 5px;
        border-bottom: 1px solid;
        text-align: end;
        width: 40%;
    }
    .SaveButton{
        display: flex;
        background-color: red;
        margin: auto;
        width: 20%;
        justify-content: center;
        color: white;
        padding: 5px;
        padding-bottom: 10px;
    }
}