.Dark{
    background-color: grey;
    color: white;
}
.Light{
    background-color: white;
    color: black;
}
.altLight {
    background-color: whitesmoke;
    color: black;
}
.altDark {
    background-color: gray;
    color: white;
}