.Dark{
    background-color: #1E1E1E;
    color: white;
}
.Light{
    background-color: rgb(245, 245, 245);
    color: black;
}
.altLight {
    background-color: rgb(220, 220, 220);
    color: wh;
}
.altDark {
    background-color: #181717;
    color: white;
}