
.homeTitle{
    padding: 10px;
    text-align: center;
}
.ProminentContainer{}
.ProminentReview{}
.ProminentPicture{}
.ReviewListContainer{}
.ReviewListTitle{}
.ReviewList{}
.Review{}
.ServiceSection{}

@media (max-width:756px) {
    .homeTitle{}
    .ProminentContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .ProminentReview{
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: small;
    }
    .ProminentPicture{
        padding-top: 10px;
    }

    .ReviewListContainer{
        display: flex;
    }
    .ReviewListTitle{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .ReviewList{
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        list-style: none;
        justify-content: space-evenly;
    }
    .Review{
        border-left: 1px solid;
        height: 100%;
    }
    .ReviewTitle{
        text-align: center;
    }
    .ReviewText{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        text-align: center;
    }
    .ReviewRating{

        padding: 10px;
        width: 50%;
        text-align: center;
        margin: auto;
        color: rgb(241, 227, 146);
    }
 
    .ServiceSection{}
    .ServicesSectionTitle{
        margin-top: 10px;
        text-align: center;
    }
    .ServicesContainer{
        display: flex;
        flex-direction: column;
    }
    .Service{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid;
        padding: 10px;
    }
    .ServiceName{


        padding: 5px;
    }
    .ServiceType{
        font-size: smaller;
        border-bottom: 1px solid;
        width: 40%;
    }
    .ServiceDescription{
        padding-top: 10px;
    }
    .ServiceUsage{
        padding-bottom: 10px;
    }
    .ServiceLink{}
}
@media (min-width:757px) {
    .homeTitle{    }
    .ProminentContainer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        margin: auto;
        height: 50vh;
    }
    .ProminentReview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 40%;
    }
    .ProminentReviewText{
        border-bottom-right-radius: 40%;
        text-align: center;
        height: 40%;
        width: 90%;
    }
    .ProminentReviewName{
        position: relative;
        left: 40%;
    }
    .ProminentPicture{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 40%;
    }

    .ReviewListContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .ReviewListTitle{
        border-bottom: 1px solid black;
        width: 90%;
        text-align: center;
        padding-bottom: 10px;
    }
    .ReviewList{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        height: 30vh;
    }
    .ReviewList li:nth-child(even) .ReviewText {
        border-bottom-right-radius: 50%;
    }
    
    .ReviewList li:nth-child(odd) .ReviewText {
        border-bottom-left-radius: 50%;
    }

    .Review{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 20%;
        text-align: center;
        box-shadow: 10px 10px 8px gray;
    }
    .ReviewTitle{
        border-bottom: 1px solid black;
        width: 100%;
    }
    .ReviewText{ 
        height: 40%;
        width: 100%;
    }
    .ReviewRating{

        padding: 10px;
        color: rgb(241, 227, 146);
        border-radius: 5%;
    }
    
    .ServiceSection{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        justify-content: center;
    }
    .ServicesSectionTitle{
        text-align: center;
        border-bottom: 1px solid;
    }
    .ServicesContainer{
        
    }
    .Service{
        height: 100%;
        margin: 10px;
    }
    .ServiceName{


        padding: 10px;
        border-bottom-right-radius: 100%;
    }
    .ServiceType{
        font-size: xx-small;
        border-bottom: 1px solid;
        width: 10%;
        text-align: end;
    }
    .ServiceDescription{
        height: 80%;
        padding: 10px;
    }
    .ServiceUsage{
        padding: 10px;
    }
    .ServiceLink{
        padding: 10px;
    }
}

