.homeTitle{
    background-color: red;
    color: white;
    margin: 10px;
    text-align: center;
}
.ProminentContainer{}
.ProminentReview{}
.ProminentPicture{}
.ReviewListContainer{}
.ReviewListTitle{}
.ReviewList{}
.Review{}
.ServiceSection{}

@media (max-width:756px) {
    .homeTitle{}
    .ProminentContainer{}
    .ProminentReview{}
    .ProminentPicture{}
    .ReviewListContainer{}
    .ReviewListTitle{}
    .ReviewList{}
    .Review{}
    .ServiceSection{}   
    .ServiceSection{}
    .ServicesSectionTitle{}
    .ServicesContainer{}
    .Service{}
    .ServiceName{}
    .ServiceType{}
    .ServiceDescription{}
    .ServiceUsage{}
    .ServiceLink{}
}
@media (min-width:757px) {
    .homeTitle{    }
    .ProminentContainer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        margin: auto;
        height: 50vh;
    }
    .ProminentReview{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 40%;
    }
    .ProminentReviewText{
        background-color: rgb(248, 241, 241);
        border-bottom-right-radius: 40%;
        text-align: center;
        height: 40%;
        width: 90%;
    }
    .ProminentReviewName{
        position: relative;
        left: 40%;
    }
    .ProminentPicture{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 40%;
    }

    .ReviewListContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .ReviewListTitle{
        border-bottom: 1px solid black;
        width: 90%;
        text-align: center;
        padding-bottom: 10px;
    }
    .ReviewList{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        height: 30vh;
    }
    .ReviewList li:nth-child(even) .ReviewText {
        border-bottom-right-radius: 50%;
    }
    
    .ReviewList li:nth-child(odd) .ReviewText {
        border-bottom-left-radius: 50%;
    }

    .Review{ 
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 20%;
        text-align: center;
        box-shadow: 10px 10px 8px #dad8d8;
    }
    .ReviewTitle{
        border-bottom: 1px solid black;
        background-color: red;
        color: white;
        width: 100%;
    }
    .ReviewText{ 
        height: 40%;
        width: 100%;
        background-color:  rgb(248, 241, 241);
    }
    .ReviewRating{
        background-color: red;
        padding: 10px;
        color: rgb(241, 227, 146);
        border-radius: 5%;
    }
    
    .ServiceSection{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        justify-content: center;
    }
    .ServicesSectionTitle{
        text-align: center;
        border-bottom: 1px solid;
    }
    .ServicesContainer{
        
    }
    .Service{
        height: 100%;
        margin: 10px;
    }
    .ServiceName{
        background-color: red;
        color: white;
        padding: 10px;
        border-bottom-right-radius: 100%;
    }
    .ServiceType{
        font-size: xx-small;
        border-bottom: 1px solid;
        width: 10%;
    }
    .ServiceDescription{
        height: 80%;
    }
    .ServiceUsage{}
    .ServiceLink{}
}

