.TailContainer{
    height: 70vh;
    width: 100%;
    border-top: 1px solid;
    justify-content: space-evenly;
    align-items: center;
}
.PageLinkContainer{}
.PageLink{}

@media (max-width: 756px){
    .TailContainer{
        display: flex;
        flex-direction: column;
    }
    .TailTopContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        width: 100%;
    }
    .TailTitle{
        background-color: red;
        color: white;
        width: 80%;
        padding: 20px;
        border-bottom-right-radius: 90%;
        border-top-right-radius: 5%;
        text-align: center;
        font-size: 2rem;
        font-style: italic;
    }
    .PageLinkContainer{
        display: flex;
        flex-direction: column;
    }
    .PageLink{
        padding: 5px;
        margin: 5px;
        text-align: center;
        text-decoration: none;
    }
    .PageLink:hover{
        opacity: 70%;
    }
    .TailBottomContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 90%;
    }
    .ReturnToTopButton{
        padding: 10px;
        border: none;
        margin: 10px;
        color: red;
    }
}
@media (min-width: 757px){
    .TailContainer{
        display: flex;
        flex-direction: column;
    }
    .TailTopContainer{
        display: flex;
        flex-direction: column;
        
        width: 99%;
    }
    .TailTitle{
        background-color: red;
        color: white;
        width: 50%;
        padding: 20px;
        border-bottom-right-radius: 90%;
        border-top-right-radius: 5%;
        text-align: center;
        font-size: 2rem;
        font-style: italic;
    }
    .PageLinkContainer{
        display: flex;
        flex-direction: column;
    }
    .PageLink{
        padding: 5px;
        width: 20%;
        margin: 5px;
        text-align: center;
        text-decoration: none;
    }
    .PageLink:hover{
        opacity: 70%;
    }
    .TailBottomContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 60%;
    }
    .ReturnToTopButton{
        padding: 10px;
        border: none;
        margin: 10px;
    }
    .ReturnToTopButton:hover{
        cursor: pointer;
        opacity: 70%;
    }
}