.LoginContainer{}
.LoginTitle{}
.LoginSubtitle{}
.LoginFormContainer{}
.LoginTextInput{}
.LoginSubmitButton{}
@media (max-width: 756px) {
    .LoginContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        margin: auto;
        margin-bottom: 20px;
        align-items: center;
    }
    .LoginTitle{
        background-color: red;
        width: 100%;
        text-align: center;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .LoginSubtitle{
        height: 30%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .LoginSubtitle a{
        background-color: red;
        padding: 5px;
        text-decoration: none;
        color: white;
        width: 80%;
    }
    .LoginFormContainer{
        display: flex;
        height: 80%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .LoginTextInput{
        padding: 10px;
    }
    .LoginSubmitButton{}
}
@media (min-width: 757px) {
    .LoginPage{
        width: 50%;
        min-height: 70vh;
        justify-content: center;
        align-items: center;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    .LoginTitle{
        background-color: red;
        width: 100%;
        text-align: center;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .LoginContainer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        ;
        box-shadow: 10px 10px 8px;
        height: 50vh;
        width: 100%;
    }
    .LoginSubtitle{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
    .LoginSubtitle a{
        background-color: red;
        color: white;
        border: none;
        padding: 5px;
        text-decoration: none;
        width: 50%;
    }
    .LoginFormContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        padding: 10px;
    }
    .LoginTextInput{
        padding: 10px;
    }
    .LoginSubmitButton{
        background-color: red;
        color: white;
        padding: 5px;
        border: none;
        margin-top: 10px;
    }
}