
@media (max-width: 756px){

}
@media (min-width: 757px){
    .EnergyStatisticsContainer {
        display: flex;
        flex-direction: column;

        width: 80%;
        height: 70vh;
        margin: auto;
        padding-top: 2%;
        padding-bottom: 2%;
    }    
    .EnergyStatisticsTopBar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-height: 10%;
        border: 1px solid;
    }   
    .EnergyStatisticsMainContainer {
        display: flex;
        height: 100%;
    }
    .EnergyStatisticsSideBar {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 5%;
        min-height: 100%;
        max-height: 100%;
    } 
    .EnergyStatisticsSideBarItem {
        border: 1px solid black;
        display: flex;
        height: 8.33333333333%;
        justify-content: center;
        align-items: center;
    }
    .EnergyStatisticsSideBarItem:hover {
        background-color: red;
        color: white;
        cursor: pointer;
    }
    .EnergyStatisticsSelectedMonth {
        background-color: red;
        color: white;
    }

    .EnergyStatisticsDataDisplay{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .EnergyStatisticsMonthList{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        height: 100%;

    }
    .EnergyStatisticsMonthDay{
        border-bottom: 1px solid black;
        padding: 5px;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .GraphContainer{
        display: flex;
        width: 100%;
        height: 100%;
        margin: auto
    }
    .Graph{
        height: 100%;
        width: 100%;
        margin: auto;
    }
}