.EnergyUseContainer {

}
.EnergyUseTitle {
}
.MonthlyUseContainer{

}
.MonthlyUseItem{

}
.MonthlyUseTitle{

}
.MonthlyUseStatistic{

}
.MonthlyDayToDayContainer {

}
.MonthlyDayToDayItems {

}
.TotalUseAndMeasurementContainer {

}
.TotalUseTitle {

}
.TotalUseAveragesContainer {

}
.selected {
    font-size: large;
    font-weight: bolder;
    opacity: 60%;
}
@media (max-width: 756px){
    .EnergyStatisticsPage{
        display: flex;
        flex-direction: column;
        width: 95%;
        max-width: 95%;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .EnergyStatisticsPageTitle{
        background-color: red;
        min-width: 100%;
        color: white;
        padding: 10px;
        border-top: 1px solid;
        text-align: center;
    }

    .TotalUseAndMeasurementContainer{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        min-width: 100%;
        background-color: whitesmoke;
        padding: 10px;
    }
    .TotalUseAveragesContainer{
        width: 50%;
        text-align: center;
    }
    .TotalUseTitle{}

    .AveragesContainer{}
    .MonthlyUseAverage{}
    .DailyUseAverage{}

    .MeasurementContainer{
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
    }
    .MeasurementTitle{}
    .MeasurementsScaleContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .MeasurementScales{
        width: 20%;
        padding: 5px;
        background-color: red;
        color: white;
        border: none;
    }

    .MonthItemsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        padding: 10px;
    }
    .MonthItem{
        height: 80vh;
    }
    .MonthItemTitleButtonAndStatistics{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .MonthItemTitle{
        background-color: red;
        color: white;
        padding: 10px;
    }
    .MonthItemStatistic{
        background-color: whitesmoke;
    }
    .MonthlyItemTotalUse{
        border-bottom: 1px solid black;
        padding: 10px;
        width: 70%;
        text-align: end;
        margin: 10px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .ScrollButtonsContainer{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 10px;
    }
    .ScrollButton{
        background-color: red;
        color: whitesmoke;
        padding: 5px;
        width: 25%;
    }

    .DailyEnergyUseContainer{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-height: 45vh;
        max-height: 47vh;
        width: 100%;
        border-top: 1px solid;
    }
    .DailyEnergyUseItem{
        width: 50%;
        text-align: center;
    }

    .MonthGraph{
        visibility: hidden;
    }
    .YearGraph{
        width: 100%;
        height: 80vh;
        margin: auto;
        text-align: center;
    }

    .ResetGraphButton{
        background-color: red;
        padding: 10px;
        color: white;
        border: 1px solid;
        margin: 10px;
    }
    .GraphContainer{
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 757px){
    .EnergyStatisticsPage{
        display: flex;
        flex-direction: column;
        width: 99%;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .EnergyStatisticsPageTitle{
        background-color: red;
        min-width: 100%;
        color: white;
        padding: 10px;
        text-align: center;
    }

    .TotalUseAndMeasurementContainer{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        min-width: 100%;
        background-color: whitesmoke;
        padding: 10px;
    }
    .TotalUseAveragesContainer{
        width: 50%;
        text-align: center;
    }
    .TotalUseTitle{}

    .AveragesContainer{}
    .MonthlyUseAverage{}
    .DailyUseAverage{}

    .MeasurementContainer{
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
    }
    .MeasurementTitle{}
    .MeasurementsScaleContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .MeasurementScales{
        width: 20%;
        padding: 5px;
        background-color: red;
        color: white;
        border: none;
    }

    .MonthItemsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
    .MonthItem{
        width: 100%;
        height: 50vh;
        border-top: 1px solid;
        display: flex;
    }
    .MonthItemTitleButtonAndStatistics{
        width: 50%;
    }
    .MonthItemTitle{
        background-color: red;
        color: white;
        padding: 10px;
    }
    .MonthItemStatistic{
        background-color: whitesmoke;
    }
    .MonthlyItemTotalUse{
        border-bottom: 1px solid black;
        padding: 10px;
        width: 25%;
        text-align: end;
        margin: 10px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .ScrollButtonsContainer{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .ScrollButton{
        background-color: red;
        color: whitesmoke;
        padding: 5px;
        width: 25%;
    }

    .DailyEnergyUseContainer{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 80%;
        border-top: 1px solid;
    }
    .DailyEnergyUseItem{
        padding: 15px
    }

    .MonthGraph{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .YearGraph{
        width: 80%;
        height: 80vh;
        margin: auto;
        text-align: center;
    }

    .ResetGraphButton{
        background-color: red;
        padding: 10px;
        color: white;
        border: 1px solid;
        margin: 10px;
    }
    .GraphContainer{
        width: 100%;
        height: 100%;
    }
}